export NVM_DIR="$HOME/.nvm"
# shellcheck disable=SC1091
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"

if [ -f .nvmrc ]; then
  nvm install "$(cat .nvmrc)" >/dev/null
  nvm use "$(cat .nvmrc)" >/dev/null
  PATH_add "$NVM_DIR/versions/node/$(nvm version)/bin"
fi
